@color_lightblue: #52b9e9;
@color_blue: #1171a3;
@color_success: #43c83c;
@color_warning: #f88529;
@color_important: #fa3031;
@color_violet: #935ab6;

* {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}



body {
    font-size: 13px;
    line-height: 23px;
    color: #666;
    background: #FFF;
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;
}

    
h1, h2, h3, h4, h5, h6 {
    padding: 2px 0;
    margin: 2px 0;
    color: #777;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 23px;
    line-height: 33px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-size: 15px;
    line-height: 25px;
}

p {
    padding: 1px 0 !important;
    margin: 1px 0 !important;
}
